.bg-dark{
    background-color: #ebebeb  !important;
}

.bg-danger{
    background-color: #f5f5f5 !important;
}

.navbar{
    height:7rem !important;
}

.bgVideo{
    background-color: black !important;
}

.imgSettings{
    height: 3rem !important; 
    width: 3rem !important;
}

.form-control{
    width: 30rem;
}